body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #FFF8E7;
}


/*NVD3 Styles*/

	.nvd3.nv-scatter .nv-groups .nv-point.selected,
	.nvd3 .nv-groups .nv-point.selected {
	    stroke-width: 7px;
	    fill-opacity: .95!important;
	    stroke-opacity: .95 !important;
	}

	.nv-axislabel {
		font-size: 14px !important;
		font-family: 'Roboto', sans-serif;
	}

.absolute {
	position: absolute;
}

.full-size {
	height: 100%;
	width: 100%;
}

.title {
	font-weight: bold;
	margin-bottom: 2px;
}

.intro-underline {
	height: 3px;
	width: calc(100% - 50px); 
	margin-left: 10px;
	background-color: #333;
	position: absolute;

	border-radius: 10px;
}

.intro-underline-active {
	cursor: pointer;
}

.intro-underline-active:hover {
	height: 10px;
}

.description-paragraph {
	border: 3px solid #333;
	padding: 5px 27px 5px 10px;
	border-radius: 10px;
	font-weight: bold;
}

.mock-help-tip {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 3px solid #333;
	background-color: #FFFF90;
	text-align: center;
	line-height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.mock-help-tip:before {
	content: '?';
}

.text-link {
	text-decoration: underline;
	color: #333;
	font-size: 14px;
}

.text-link:hover {
	color: #000;
	font-weight: bold;
	font-size: 16px;
}

.minimize-btn {
		background-color: #FFF8E7;
		position: absolute;
		padding: 0px;
		right: 20px;
		top: 8px;
		font-size: 30px;
		line-height: 20px;
		outline: none;
	}

	.minimize-btn:focus, .minimize-btn:active{
		outline: none !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		background-image: none;
	}


/***********************************************************************/
							/* Graphs */
/***********************************************************************/
	.graphs-container {
		margin-top: 10px;
		height: 500px;
		position: relative;
		border: 3px solid #333;
		border-radius: 5px;
	 	white-space: nowrap;
	}

	.graphs-container .row {
		height: 100%;
	}

	.graph {
		float: left;
		height: 100%;
		padding: 0;
	}

	.new-series-btn {
		background-color: #FFF8E7;
		position: absolute;
		right: 0;
		padding: 1px 10px 0 0;
		font-size: 14px;
		outline: none;
	}

	.new-series-btn:focus, .new-series-btn:active{
		outline: none !important;
		-webkit-box-shadow: none;
		box-shadow: none;
		background-image: none;
	}

	.new-series-btn:hover {
		color: #000;
	}

	.new-series-btn span { 
		float: left;
	 }
	.new-series-btn span:first-child {
		padding-top: 1px;
		font-size: 35px;
		line-height: 20px
	}

	.new-series-btn span:last-child {
		vertical-align: middle;
		display: table-cell;
		line-height: 25.5px;
	}

	.graph:last-child {
		border-left: 2px solid transparent;
	}

	.graph-divider {
		position: absolute;
		left: 50%;
		top: 5%;
		width: 2px;
		height: 90%;
		background-color: #333;
		border-radius: 100%;
	}

	.vis-container {
		white-space: nowrap;
	}

	.vis-container input[type=button] {
	   -webkit-appearance: push-button;
	   -moz-appearance:    push-button;
	   appearance:         push-button;
	}

	.vis-container > div > div > div{
		box-sizing:         content-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing:    content-box;
	}

	#Surface-Graph > div > div {
		z-index: 1;
		height: 19px;
	}
/***********************************************************************/
							/* inputs */
/***********************************************************************/
	.component-input-container {
		margin-top: 10px;
		height: 93px;
	}

	.component-input-container .row {
		background-color: #333;
		color: white;
		border-radius: 10px;
	}

	.component-input {
		padding: 0 10px;
		margin: 10px 0;
		border-left: 1px solid	white;
	}

	.component-input:first-child {
		border: none;
	}

	.component-input h3 {
		margin-top: 10px;
		text-align: center;
	}

	.component-input table {
		width: 100%;
	}

	.component-input td:first-child {
		width: 35px;
		text-align: center;
		line-height: 26px;
	}


	.component-input input {
		padding: 0 5px;
	}

	.input-value-display {
		width: 48px;
		font-size: 0px;
	}

	.input-value-display * {
		display: inline-block;
		vertical-align: middle;
	}

	.tri-left {
		border: 8px solid transparent;
		border-right-color: white;
		border-left: none;
	}

	.component-input p {
		margin-bottom: 0;
		background-color: white;
		color: #333;
		border-radius: 4px;
		text-align: center;
		font-size: 18px;
		height: 26px;
		width: 40px;
	}

/***********************************************************************/
							/* Buttons */
/***********************************************************************/
	.presets-container {
		margin-top: 15px;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;

		padding: 10px;
		border-radius: 10px;

		color: #FFFFFF;
		background-color: #333333;
	}

	.presets-container button {
		margin-left: 3px;
	}