/*-------------------------
	Inline help tip
--------------------------*/


.help-tip{
	position: absolute;
	
	text-align: center;
	border-radius: 50%;
	
	font-size: 14px;
	cursor: default;


	background-color: #FFFF90;
	line-height: 22px;
	border: 3px solid #333333;
	width: 28px;
	height: 28px;

	top: 3px;
	right: 3px;

	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#333;
}

.help-tip:hover .helptip-main{
	display:block;
	margin-top: 2px;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip .helptip-main{
	display: none;
	text-align: justify;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 8px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
	z-index: 9999;
}

.helptip-up .helptip-main {
	bottom: 24px;
}

.help-tip .helptip-main:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:9px;
	top:-12px;
}

.helptip-up .helptip-main:before {
	bottom: -12px;
	top: auto;
	border-top-color:#1E2021;
	border-bottom-color: transparent;
}

.help-tip .helptip-main:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

.helptip-up .helptip-main:after {
	top: auto;
}

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}


