html {
	overflow-y:scroll;
}
body {
	background-color: #fff;	
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.linTrans {
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.fastLinTrans {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

.dropDownBack {
	background: -webkit-linear-gradient(#111,#111);
	background: -moz-linear-gradient(#111,#111);
	background: -o-linear-gradient(#111,#111);
	background: linear-gradient(#111,#111);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 200%;
	-moz-background-size: 100% 200%;
	background-size: 100% 200%;
	cursor: pointer;
}

.dropDownBack:hover{
	color: #111;
	background-position: 0 -102%
}

#content {
	width: 100%;
	position: absolute;
	left: 0;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 300%;
	overflow-x: scroll;
}

#centeredContent {
	margin: 0 auto;
	width: 95%;
	height: 100%;
	position: relative;
}

.outer {
	display: table;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	display: inline-block;
	color: #fff;
}


.menu{
	height: 46px;
	font-size: 22px;
	text-shadow: none;
	background-color:#111;
	color: #fff;
	position: absolute;
	z-index: 1;
}

#menuUnder {
	width: 100%;
}

.menuitem {
	padding-top: 13px;
	padding-bottom: 11px;
}

#menuName {
	padding-left: 30px;
}

#menuClicks {
	right: 30px;
	background-color: #fff;
}

.menuLink {
	padding-right:16px;
	padding-left: 16px;
	background-color: #111;

	background: -webkit-linear-gradient(#111,#111);
	background: -moz-linear-gradient(#111,#111);
	background: -o-linear-gradient(#111,#111);
	background: linear-gradient(#111,#111);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 200%;
	-moz-background-size: 100% 200%;
	background-size: 100% 200%;
	cursor: pointer;
}

.menuLink:hover{
	background-position: 0 202%;
	color: #111;
}

.menuHighlight {
	color:#111;
	background-position: 0 202%;
	cursor: default;
}

.menuNH {
}

#lastMenu{
	margin-right: -1px;
}
.learnMoreCont {
	height: 40px;
	margin: 0 auto;
	color:#fff;
	font-size: 20px;
	text-align: center;
}

.learnMoreBlock {
	padding: 7px 30px;
	border-radius: 20px;
	border: 3px solid #111;
	/*background-color: #111;*/
	display: inline-block;
}
/*
.inLineButtonCont {
	display: inline-block;
	color: #fff;
	text-align: center;
}
*/
.inLineButton {
	/*padding: 0px 12px;
	border-radius: 20px;
	border: 2px solid #111;*/
	text-decoration: underline;
}

.hrule {
	width: 90%;
	height: 2px;
	background-color: #111;
}

.infoBar {
	min-height: 300px;
}

.left {
	float:left;
}

.right{
	float: right;
}

.ibel {
	display: inline-block;
	min-height: 300px;
}

.ibimg {
	width: 290px;
	border-radius: 145px;
}

.ibimg img {
	margin: 20px 20px 20px 20px;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	border: 2px solid #111;
	background-color: #111;
	z-index: 1;
}

#test {
	margin: 20px 20px 20px 20px;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	border: 0px;
	background-color: #111;
}

.ibimg a {
	display: block;
	width: 254px;
	height: 254px;
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 125px;
	z-index: 0;
}

.ibtxt {
	width: calc(100% - 290px);
	text-align: center;
}

.ibtitle {
	text-align: center;
	font-size: 32px;
}
.ibdescrip {
	line-height: 125%;
	font-size: 20px;
	text-align: left;
}

.ra {
	text-align: right;
}

.ibdescripcont{
	width: 80%;
	display: inline-block;
	margin-bottom: 20px;
}

#footer {
	text-align: center;
	height: 200px;
}

#footerel {
	margin: 0 auto;
	display: inline-block;
	color: #fff;
}

.contact{
	display: inline-block;
	font-size: 22px;
	float: left;
	color: #fff;
	height: 100%;
	padding: 7px 30px;
	border-radius: 40px;
	border: 3px solid #111;
	margin-bottom: 20px;
}

.contact:hover .topPic {
	opacity: 0;
}

.footText {
	line-height: 40px;
}

#emailText {
	/*padding-left: 62px;*/
}

.whiteBack {
	background-color: #fff;
	
}

.blackBack {
	background-color: #111;
	z-index: 1;
}

#linkedInText {
	padding-left: 162px;
}

.topPic {
	z-index: 2;
}

.botPic {
	z-index: 1;
}

.footerPic {
	vertical-align: top;
	height: 40px;
	position: absolute;
}

.gitPic {
	border-radius: 50%;
}

#gitText {
	padding-left: 62px;
	font-size: 30px;
}

#lastUpdate{
	font-size: 16px;
}

.footSep {
	width: 20px;
	height: 20px;
	float: left;
}



