html {
	overflow-y:scroll;
}
body {
	background-color: #fff;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;	
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

#content {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 300%;
	overflow-x: hidden;
}

#centeredContent {
	margin: 0 auto;
	width: 95%;
	height: 100%;
	position: relative;
}

.outer {
	display: table;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	display: inline-block;
	color: #fff;
}


.menu{
	height: 46px;
	font-size: 22px;
	text-shadow: none;
	background-color:#111;
	color: #fff;
	position: absolute;
	z-index: 1;
}

#menuUnder {
	width: 100%;
}

.menuitem {
	padding-top: 13px;
	padding-bottom: 11px;
}

#menuName {
	padding-left: 30px;
}

#menuClicks {
	right: 30px;
	background-color: #fff;
}

.menuLink {
	padding-right:16px;
	padding-left: 16px;
	background: -webkit-linear-gradient(#111,#111);
	background: -moz-linear-gradient(#111,#111);
	background: -o-linear-gradient(#111,#111);
	background: linear-gradient(#111,#111);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 200%;
	-moz-background-size: 100% 200%;
	background-size: 100% 200%;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	z-index: 2;
	cursor: pointer;
}

.menuLink:hover{
	color: #111;
	background-position: 0 -102%
}

#nav{
	margin-right: -1px;
}

.intro{
	height: 90%; /*fallback if calc not supported */
	height: calc(100% - 65px - 33px);
	max-height: 900px;
	min-height: 690px;
}


#introWords{
	padding-top: 20px;
	text-align: center;
}
#introPara {
	font-size: 28px;
	display: inline-block;
}
#introName{
	font-size: 54px;
}

#mainImg {
	overflow: hidden;
}

#imgCont {
	width: 100%;
	max-width: 600px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}

#backPic {
	width: 60%;
	height: 60%;
	display: block;
	border-radius: 50%;
	background-color: #111;
	border: 10px solid #111;
	margin: 0 auto;
}


.learnMoreCont {
	height: 34px;
	margin: 0 auto;
	color:#fff;
	font-size: 20px;
	text-align: center;
}

.learnMoreBlock {
	padding: 7px 30px;
	border-radius: 20px;
	border: 3px solid #111;
	/*background-color: #111;*/
	display: inline-block;
	background: -webkit-linear-gradient(#111,#111);
	background: -moz-linear-gradient(#111,#111);
	background: -o-linear-gradient(#111,#111);
	background: linear-gradient(#111,#111);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 200%;
	-moz-background-size: 100% 200%;
	background-size: 100% 200%;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	z-index: 2;
	cursor: pointer;
	text-decoration: none;
}

.learnMoreBlock:hover{
	color: #111;
	background-position: 0 -102%
}



.hrule {
	width: 90%;
	height: 2px;
	background-color: #111;
}

.infoBar {
	min-height: 300px;
}

.left {
	float:left;
}

.right{
	float: right;
}

.ibel {
	display: inline-block;
	min-height: 300px;
}

.ibimg {
	width: 290px;
}

.ibimg img {
	margin: 20px 20px 20px 20px;
	width: 250px;
	height: 250px;
	border-radius: 125px;
	border: 2px solid #111;
	background-color: #111;

}

.ibtxt {
	width: calc(100% - 290px);
	text-align: center;
}

.ibtitle {
	text-align: center;
	font-size: 32px;
}
.ibdescrip {
	line-height: 125%;
	font-size: 20px;
	text-align: left;
}

.ibdescripcont{
	width: 80%;
	display: inline-block;
	margin-bottom: 20px;
}

#footer {
	text-align: center;
	height: 200px;
}

#footerel {
	width: 600px;
	margin: 0 auto;
	display: inline-block;
}

.contact{
	display: inline-block;
	float: left;
	font-size: 22px;
	color: #fff;
	background-color: #111;
	height: 100%;
	padding: 7px 30px;
	border-radius: 40px;
}

#emailText {
	line-height: 40px;
}

#emailPic {
	background-color: #fff;
}

#linkedin {
	float: right;
}

.footerPic {
	vertical-align: top;
	height: 40px;
}

#lastUpdate{
	font-size: 16px;
}



