.intro{
	height: 90%; /*fallback if calc not supported */
	height: calc(100vh - 96px);
	max-height: 800px;
	min-height: 690px;
}


#introWords{
	padding-top: 20px;
	text-align: center;
}
#introPara {
	font-size: 28px;
	display: inline-block;
}
#introName{
	font-size: 54px;
}

#mainImg {
	overflow: hidden;
}

#imgCont {
	width: 100%;
	max-width: 600px;
	height: auto;
	margin: 0 auto;
}

#cont {
	margin-top: 0;
	margin-bottom: 20px;
}

#firstinfobar {
	margin-top: 10px;
}

#backPic {
	width: 80%;
	height: 80%;
	display: block;
	border-radius: 50%;
	background-color: #111;
	border: 10px solid #111;
	margin: 0 auto;
}